<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <main>
        <!--Espacio header -->
        <div class="gap"></div>
        <div class="page-title"><h3>Crear producto</h3></div>

        <!-- FORMULARIO CREAR PRODUCTO -->
        <div id="products-form">
            <form action="/products/create" method="POST" enctype="multipart/form-data" class="form-container" >
                
                <p class="form-field">
                    <input type="text" name="name" id="name" placeholder="Nombre del producto" class="form-input">
                </p>

                <p class="form-field">
                <input type="text" name="sku" id="sku" placeholder="SKU" class="form-input">
                </p>
        
                <p class="form-field">
                <label>Descripción</label>
                <textarea name="description" placeholder="Indica las características del prodcuto como color, peso, sabor, contenido, talla, etc. " class="form-input-text-area"></textarea>
                </p>
        
                <p class="form-field">
                <label>Imagen</label>
                <input type="file" name="image" id="image" accept=".jpg" class="form-input">
                </p>

                <div class="form-2-columns-container">
                    <p class="form-field  col-50">
                    <input type="text" name="price" id="price" placeholder="Precio" min="0" class="form-input">
                    </p>

                    <p class="form-field col-50">
                    <input type="text" name="priceOffer" id="priceOffer" placeholder="Precio de oferta" min="0" class="form-input">
                    </p>
                </div>

                <div class="form-2-columns-container">
                    <p class="form-field col-50">
                        <label>Especie</label>
                        <select name="specie" class="form-input">
                            <%for(let i=0; i< especies.length; i++){ %>
                                <option value="<%=especies[i].id%>" class="form-input-option"> 
                                    <%= especies[i].name%>
                                </option>
                            <% } %>
                        </select>
                    </p>
                    <p class="form-field col-50">
                        <label>Categorías</label>
                        <select name="category" class="form-input">
                            <%for(let i=0; i< categorias.length; i++){ %>
                                <option value="<%=categorias[i].id%>" class="form-input-option"> 
                                    <%= categorias[i].name%>
                                </option>
                            <% } %>
                        </select>
                    </p>
                </div>
        
                <div class="form-3-columns-container">
                    <p class="form-field col-30">
						<label>En oferta:</label>
						<select name="offer" id="offer" class="form-input">
							<option value="si">Sí</option>
							<option value="no">No</option>
						</select>
					</p>
                    <p class="form-field col-30">
						<label>Destacado </label>
						<select name="featured" id="featured" class="form-input">
							<option value="si" class="form-input-option">Sí</option>
							<option value="no" class="form-input-option">No</option>
						</select>
					</p>
                    <p class="form-field col-30">
                        <label>Piezas </label>
                        <input type="number" name="pieces" id="pieces" placeholder="Ej:12" min="0" class="form-input">
                    </p>
                </div>
        
                
                <p class="form-buttons-container">
                <button type="reset" class="clean-form form-button">Limpiar formulario</button>
                <button type="submit" class="form-button"> Crear producto </button>
                </p>

                <!-- Mostrar alertas Validación Frot End -->
                <ul class="errores alert-warning hide">
                <ul>

            </form>

            

        </div>
    </main>

    <!-- Include Front End Validation -->
    <script src="/js/productsAddValidation.js"></script>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
