<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalles de producto'}) %>

<body>
    <!-- Include Header -->
    
<%- include('../partials/header') %>

    <main>
        <!--Espacio header -->
        <div class="gap"></div>

        <div class="product-detail-container">
            <h3 class="page-title"> Detalles del producto </h3>
            <div class="product-detail-card">
                <div id="image-wrap">
                    <p class="featured-product"><i class="fas fa-solid fa-circle featured-product-icon"></i> Producto destacado</p>
                    <img href="/" src="/img/category-dog.png" alt="the pet's club-dog" class="image">
                </div>
                <div id="pd-information"><!--Inicia caracteristicas-->
                    <div class="title-wrap">
                        <strong class="title"><%= producto.name %></strong>
                    </div>
                    <% if (producto.priceOffer == null){ %>
                        <div class="price-wrap"><p class="text1">Precio:</p><strong class="price">$<%= producto.price %></strong></div>
                    <% }else{ %>
                        <div class="price-wrap"><p class="text1">Precio regular:</p><strong class="price crossed-out">$<%= producto.price %></strong></div>
                        <div class="price-wrap"><p class="text1">Adquierelo por tan solo: </p><strong class="offer"><i class="fa-sharp fa-solid fa-bolt-lightning"></i> $<%= producto.priceOffer %></strong></div>
                    <% } %>

                    <div class="tags-wrap">
                        <p class="wrap-subtitle text1">Recomendado para:</p>
                        <p class="species"></i> <%= producto.especie %> </p>
                    </div> <!-- si se puede sellecionar mas de una especia deberá guaradarse como lista-->
                    

                    <div class="tags-wrap">
                        <% producto.category.forEach(tag => { %>
                            <p class="category-tag"> <%= tag %> </p>
                        <% }) %>
                    </div>
                    
                    <!--para el usuario--><!--
                    <div class="set-buttons-wrap"> 
                        <p class="button"><a class="button-text" href="/">Agregar al carrito</a></p>
                        <p class="button"><a class="button-text" href="/">Comprar</a></p>
                    </div>-->
                    <div class="set-buttons-wrap"> <!--para admin-->
                        <p class="button"><a class="button-text" href="/">Editar</a></p>
                        <p class="button"><a class="button-text" href="/">Nuevo</a></p>
                    </div>
                </div><!--termina Caracteristicas-->
                <div id="description"><!--inicia description-->
                    <p class="title">Descripción: </p>
                    <p class="text">SKU: <%= producto.id%></p>
                    <p class="text"><%= producto.description %></p>
                </div><!--termina description-->
            </div><!--termina product-detail-card-->
        </div><!--termina product-detail-container-->

    </main>
    <!-- Include Footer-->
    <%- include('../partials/footer') %>
</body>

</html>