<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <main>
        <!--Espacio header -->
        <div class="gap"></div>
        <div class="page-title"><h3>Crear producto</h3></div>

        <!-- FORMULARIO CREAR PRODUCTO -->
        <div id="products-form">
            <form action="/products/create" method="POST" enctype="multipart/form-data" class="form-container" >
                
                <p class="form-field">
                <label>Nombre del producto</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" class="form-input" value="<%= locals.preregistro && preregistro.name ? preregistro.name : '' %>">
                </p>

                <p class="form-field">
                <label>SKU</label>
                <input type="text" name="sku" id="sku" placeholder="SKU" class="form-input" value="<%= locals.preregistro && preregistro.sku ? preregistro.sku : '' %>">
                </p>
        
                <p class="form-field">
                <label>Descripción</label>
                <input name="description" placeholder="Indica las características del prodcuto como color, peso, sabor, contenido, talla, etc. " class="form-input-text-area" value="<%= locals.preregistro && preregistro.description ? preregistro.description : '' %>"></input>
                </p>

                <p class="form-field">
                <label>Imagen</label>
                <input type="file" name="image" id="image" accept=".jpg" class="form-input">
                </p>

                <div class="form-2-columns-container">
                    <p class="form-field  col-50">
                    <label>Precio</label>
                    <input type="text" name="price" id="price" placeholder="Precio" min="0" class="form-input" value="<%= locals.preregistro && preregistro.price ? preregistro.price : '' %>">
                    </p>

                    <p class="form-field col-50">
                    <label>Precio de oferta</label>
                    <input type="text" name="priceOffer" id="priceOffer" placeholder="Precio de oferta" min="0" class="form-input" value="<%= locals.preregistro && preregistro.priceOffer ? preregistro.priceOffer : '' %>">
                    </p>
                </div>

                <div class="form-2-columns-container">
                    <p class="form-field col-50">
                        <label>Especie</label>
                        <select name="specie" class="form-input">
                            <%for(let i=0; i< especies.length; i++){ %>
                                <option value="<%=especies[i].id%>" class="form-input-option" <%= locals.preregistro && preregistro.specie == especies[i].id ? 'selected' : '' %> >
                                    <%= especies[i].name%>
                                </option>
                            <% } %>
                        </select>
                    </p>
                    <p class="form-field col-50">
                        <label>Categorías</label>
                        <select name="category" class="form-input">
                            <%for(let i=0; i< categorias.length; i++){ %>
                                <option value="<%=categorias[i].id%>" class="form-input-option" <%= locals.preregistro && preregistro.category == categorias[i].id ? 'selected' : '' %>> 
                                    <%= categorias[i].name%>
                                </option>
                            <% } %>
                        </select>
                    </p>
                </div>
        
                <div class="form-3-columns-container">
                    <p class="form-field col-30">
						<label>En oferta:</label>
						<select name="offer" id="offer" class="form-input">
							<option value="si" <%= locals.preregistro && preregistro.offer == "si" ? "selected" : "" %> >Sí</option>
							<option value="no" <%= locals.preregistro && preregistro.offer == "no" ? "selected" : "" %> >No</option>
						</select>
					</p>
                    <p class="form-field col-30">
						<label>Destacado </label>
						<select name="featured" id="featured" class="form-input">
							<option value="si" <%= locals.preregistro && preregistro.featured == "si" ? 'selected' : '' %> class="form-input-option">Sí</option>
							<option value="no" <%= locals.preregistro && preregistro.featured == "no" ? "selected" : "" %> class="form-input-option">No</option>
						</select>
					</p>
                    <p class="form-field col-30">
                        <label>Piezas </label>
                        <input type="text" name="pieces" id="pieces" placeholder="Ej:12" min="0" class="form-input" value="<%= locals.preregistro && preregistro.pieces ? preregistro.pieces : '' %>">
                    </p>
                </div>
        
                
                <p class="form-buttons-container">
                <button type="submit" class="form-button button-50-width"> Crear producto </button>
                <button type="reset" class="clean-form form-button">Limpiar formulario</button>
                </p>

                <!-- Mostrar errores Validación Back End-->
                <% if (locals.errors) { %>
                    <div class="warning-block">
                        <strong class="warning-title">¡¡ ADVERTENCIA !!</strong>
                        <ul class="errors">
                    <% errors.forEach(error => { %>
                        <li><i class='fa-solid fa-triangle-exclamation' style='color: #eb0505;'></i> 
                            <%= error.msg %>
                        </li>
                    <% }) %>
                <% } %>

                <!-- Mostrar alertas Validación Frot End -->
                <div class="warning-block hide">
                    <strong class="warning-title">¡¡ ADVERTENCIA !!</strong>
                    <ul class="errors hide"><ul></ul>
                </div>

            </form>
        </div>

        <p class="form-buttons-container hide">
            <a class="form-button" href="/products/"> Ver todos los productos </a>
        </p>

    </main>

    <!-- Include Front End Validation 
    <script src="/js/productsAddValidation.js"></script>-->

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
