<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de Productos'}) %>
<body>
<!-- Include Header y banner-->
<%- include('../partials/header') %>

<main>

    <!-- VISTA DÃNAMICA DE PRODUCTOS -->
    <section>
        <div class="page-title"><h3>Todos los producto (Dinamico)</h3></div>
        <section class="product-list-container">

            <% products.forEach(producto => { %>
                <article class="product-card">
                    <a href="/products/detail/<%= producto.id%>">
                        <div class="product-image-wrapper"><img class="product-image" src="/img/productslist/<%= producto.image %>" alt="products-image"></div>
                        <div class="product-detail-wrapper">
                            <p class="product-name"><strong><%= producto.name %></strong></p>
                            <div class="product-price-wrapper">
                                <p class="product-price"><strong>Precio: $<%= producto.price %></strong></p>
                                <p class="product-price-offer"><strong>Oferta: $<%= producto.price %></strong></p>
                            </div>
                        </div>
                    </a>
                </article>
                
            <% }) %>

        </section>
    </section>
</main>

<!-- Include Footer-->
<%- include('../partials/footer') %>
</body>
</html>