<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de Productos'}) %>
<body>
<!-- Include Header y banner-->
<%- include('../partials/header') %>

<main>
    <div class="gap"></div>

    <!-- VISTA DÍNAMICA DE PRODUCTOS -->
    <section>
        <div class="page-title">
            <h3>Productos para <%= specie.name %></h3>

            <!-- Botón agregar nuevo producto -->
            <p class="form-buttons-container">
                <a class="form-button" href="/products/create"> Agregar un nuevo producto</a>
            </p>

            <!-- Imagen de categoría seleccionada -->
            <div class="specie-contaniner">
                <article class="category-block-specie">
                    <div class="category-img-specie">
                        <img href="/" src="/img/section-category/<%=specie.images%>" alt="the pet's club" class="img-category-specie">
                    </div>
                </article>
            </div>

            <!-- boton para regresar al inicio 
            <p class="form-buttons-container">
                <a class="form-button" href="/"> Regresar al inicio</a>
            </p>-->

            <!--Listado botones de todas las especies -->
            <h3> Explorar otras especies </h3>
            <div class="category-list">
                <% species.forEach(especie => { %>
                        <a class="specie-button" href="/products/species/<%=especie.id%>"> <%= especie.name %></a>
                <% }) %>  
            </div>

            
        </div>
        <section class="product-list-container">

            <% products.forEach(producto => { %>
                <article class="product-card">
                    <a href="/products/detail/<%= producto.id%>">
                        <div class="product-image-wrapper"><img class="product-image" src="/img/productslist/<%= producto.image %>" alt="products-image"></div>
                        <div class="product-detail-wrapper">
                            <p class="product-name"><strong><%= producto.name %></strong></p>
                        <div class="product-price-wrapper">
                                <p class="product-price"><strong>Precio: $<%= producto.price %></strong></p>
                                <p class="product-price-offer"><strong>Oferta: $<%= producto.price %></strong></p>
                            </div>
                        </div>
                    </a>
                </article>
                
            <% }) %>

        </section>
    </section>
</main>

<!-- Include Footer-->
<%- include('../partials/footer') %>
</body>
</html>