<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalles de producto'}) %>

<body>
    <!-- Include Header -->
    
<%- include('../partials/header') %>

    <main>
        <!--Espacio header -->
        <div class="gap"></div>
        
        <div class="product-detail-container">
            <h3 class="page-title"> Detalles del producto </h3>
            <div class="product-detail-card">

            <!--IMAGEN-->
                <div id="image-wrap">
                    <% if (producto.featured != "no"){ %>
                        <p class="featured-product"><i class="fas fa-solid fa-circle featured-product-icon"></i> Producto destacado</p>
                    <% } %>
                    <img href="/" src="/img/productslist/<%= producto.image %>" alt="the pet's club-dog" class="image">
                </div>

            <!--CARACTERISTICAS-->
                <div id="pd-information">
                    <div class="title-wrap">
                        <strong class="title"><%= producto.name %></strong>
                    </div>
                    
                <!--PRECIOS-->
                    <% if (producto.offer == "no"){ %>
                        <div class="price-wrap"><p class="text1">Precio:</p><strong class="price">$<%= producto.price %></strong></div>
                    <% }else{ %>
                        <div class="price-wrap"><p class="text1">Precio regular:</p><strong class="price crossed-out">$<%= producto.price %></strong></div>
                        <div class="price-wrap"><p class="text1">Adquierelo por tan solo: </p><strong class="offer"><i class="fa-sharp fa-solid fa-bolt-lightning"></i> $<%= producto.price_offer %></strong></div>
                    <% } %>

                <!--ESPECIES-->
                    <div class="tags-wrap">
                        <p class="wrap-subtitle text1">Recomendado para: </p>
                        <p class="species">                           
                            <%for(let i=0; i< especies.length; i++){ %>
                                <%if(especies[i].id == producto.specie_id){%> 
                                    <%= especies[i].name%>
                                <% } %>
                                <% } %>
                        </p>
                    </div> 

                <!--CATEGORIA-->
                    <div class="tags-wrap">
                        <p class="wrap-subtitle text1">Categoría: </p>
                        <p class="category-tag">                             
                            <%for(let i=0; i< categorias.length; i++){ %>
                            <%if(categorias[i].id == producto.category_id){%> 
                                <%= categorias[i].name%>
                            <% } %>
                            <% } %> 
                        </p>
                    </div>

                    
                    <!--botones visisbles para un usuario cliente, se usaran después--><!--
                    <div class="set-buttons-wrap"> 
                        <p class="button"><a class="button-text" href="/">Agregar al carrito</a></p>
                        <p class="button"><a class="button-text" href="/">Comprar</a></p>
                    </div>-->

                <!--botones visisbles para un usuario admin-->
                    <div class="set-buttons-wrap">
                        <a class="button button-text" href="/products/edit/<%=producto.id%>">EDITAR</a>
                        <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" class="button">
							<button type="submit" class="button-delete"><a class="button-text">ELIMINAR</a></button>
						</form>
                    </div>
                </div>

            <!--DESCRIPCIÓN-->
                <div id="description">
                    <p class="title">Descripción: </p>
                    <p class="text">SKU: <%= producto.sku%></p>
                    <p class="text"><%= producto.description %></p>
                </div>

            </div><!--termina product-detail-card-->
        </div><!--termina product-detail-container-->

    </main>
    <!-- Include Footer-->
    <%- include('../partials/footer') %>
</body>

</html>