<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
    <%- include('partials/head', {title: 'Inicio'}) %>

<body>
<!-- Include Header y banner-->
    <%- include('partials/header') %>
<!--BANNER-->

<img href="/" src="/img/bannerNuevo.png" alt="sample-banner" class="sample-banner">
<main>

    <!--Categorías-->
    <div class="section-tittle"><h3>Categorías</h3></div>
    <div id="category-section" class="category-section">
        <% species.forEach(especie => { %>
            <article class="category-block">
                <a href="/products/species/<%=especie.id%>" class="category-img">
                    <img href="/" src="/img/section-category/<%=especie.images%>" alt="the pet's club-dog" class="img-general-category">
                </a>
                <a href="/products/species/<%=especie.id%>" class="category-tittle"><%= especie.name %><br></a>
            </article>
        <% }) %>  
    </div>
    

    <!-- Ofertas-->
        <section class="category-section-sale">
            <div class="section-tittle"><h3>Ofertas</h3></div>
            <!-- Mostrar los productos en OFERTA dinámicamente -->
            <section class="section-article-sale">
                <section class="product-list-container">
                <% productsSale.forEach(producto => { %>
                <article class="product-card">
                    <a href="/products/detail/<%= producto.id %>">
                    <div class="product-image-wrapper">
                    <img class="product-image" src="img/productslist/<%= producto.image %>" alt="img-sale-dog">
                    </div>
                    <article class="product-detail-wrapper">
                        <article class="price-of-product">
                            <p class="product-name"><%= producto.name %></p>
                            
                            <div class="product-price-wrapper">
                                <p class="product-price"><strong>Precio: $<%= producto.price %></strong></p>
                                <p class="product-price-offer"><strong>Oferta: $<%= producto.price_offer %></strong></p>
                            </div>

                            <!-- <h2 class="price-of-product">$ <%= producto.price %></h2>
                            <h2 class="price-product-sale">$ <%= producto.price_offer %></h2> -->
                            <!-- <h3 class="discounts-product-sale"><%= producto.discounts %></h3> -->
                        </article>
                    </a>
                    </article>
                </article>
                <% }) %>
            </section>
            </section>
        </section>

    <!-- Productos-->
        <section class="category-section-products">
            <div class="section-tittle"><h3>Productos destacados</h3></div>
            <!-- Mostrar los productos de home dinámicamente -->
            <section class="section-article-products">
                <section class="product-list-container">
                    <% productsFeatured.forEach(producto => { %>
                    <article class="product-card">
                        <a href="/products/detail/<%= producto.id %>">
                        <div class="product-image-wrapper">
                        <img class="product-image" src="img/productslist/<%= producto.image %>" alt="img-sale-dog">
                        </div>
                        <article class="product-detail-wrapper">
                            <article class="price-of-product">
                                <p class="product-name"><%= producto.name %></p>
                                
                                <div class="product-price-wrapper">
                                    <p class="product-price-home"><strong>Precio: $<%= producto.price %></strong></p>
                            
                                </div>
    
                                <!-- <h2 class="price-of-product">$ <%= producto.price %></h2>
                                <h2 class="price-product-sale">$ <%= producto.price_offer %></h2> -->
                                <!-- <h3 class="discounts-product-sale"><%= producto.discounts %></h3> -->
                            </article>
                        </a>
                        </article>
                    </article>
                    <% }) %>
                </section>


                <!-- <% productsFeatured.forEach(producto => { %>
                <article class="article-img-product"> 
                    <a href="/products/detail/<%= producto.id %>">
                    <img class="img-product-product" src="img/productslist/<%= producto.image %>" alt="img-sale-dog">
                    <article class="box-description-product">
                        <article class="price-of-product">
                            <h2 class="price-of-product">$ <%= producto.price %></h2>
                        </article>
                    </article>
                    </a>
                </article>
                <% }) %> -->
        
            </section>
        </section>
        
    <!-- Servicios-->
    <a href="/contacto">
        <section id="section-servicios" class="category-section-services">
            <div class="section-tittle"><h3>Servicios</h3></div>
            <section class="section-article-services">
                <article class="article-img-services">
                    <img class="img-product-sale" src="img/section-services/animal-walker.png" alt="img-sale-dog">
                    <article class="box-description-services">
                        <i></i>
                        <article class="price-and-discounts">
                            <h2 class="description-service">Paseador</h2>
                        </article>
                    </article>
                </article>
                <article class="article-img-services">
                    <img class="img-product-sale" src="img/section-services/animal-nursery.png" alt="img-sale-cat">
                    <article class="box-description-services">
                        <i></i>
                        <article class="price-and-discounts">
                            <h2 class="description-service">Guarderia</h2>
                        </article>
                    </article>
                </article>
                <article class="article-img-services">
                    <img class="img-product-sale" src="img/section-services/animal-grooming.png" alt="img-sale-fish">
                    <article class="box-description-services">
                        <i></i>
                        <article class="price-and-discounts">
                            <h2 class="description-service">Peluqueria</h2>
                        </article>
                    </article>
                </article>
            </section>
        </section>
    </a>
    <!-- Nosotros-->
        <div id="section-blog" class="section-tittle"><h3>Nosotros</h3></div>
        <div class="container-about-us">
            <img href="/" src="/img/suricat-family.jpg" alt="the pet's club-team" class="team-img">
            <div class="about-us">
                <p class="text-about-us">
                    <h2 class="text-about-us">THE PETS CLUB</h2>
                    ¿Necesitas encontrar un veterinario de guardia? ¿Querés cortarle el pelo a tu mascota? 
                    ¿Te falta algún elemento esencial? ¿Necesitás encontrar a alguien que cuide de tu mascota o lo saque a pasear en algún momento del día? En The Pet's Club te ofrecemos no solo productos para tu mejor amigo, sino que también te ayudamos a encontrar el servicio que mejor se adapte a lo que. No importa si tenes un perro, un hamster, un gato, un conejo o una lagartija, contamos con un extenso catálogo de diseño simple y dinámico para poder ayudarte con lo que precises. Nuestro foco está en la calidad porque queremos cuidar de tu compañero.
                </p>
            </div>
        </div>

    <!-- Experiencias-->
        <div class="section-tittle"><h3>Experiencias</h3></div>
        <div id="review-section" class="review-section">
            <div class="container-fix-height">
                <article class="review-block">
                    <img href="/" src="/img/experienciaUno.jpg" alt="the pet's club-team" class="review-img">
                    <p class="text-review">
                        Jack es mi periquito, tiene apenas 2 años. Lo he tenido desde pequeño y hemos creado un vinculo increible. Disfruto pasar tiempo con el y que me acompañe en las tardes cuando leo en mi sala. 
                    </p>
                </article>
            </div>
            <div class="container-fix-height">
                <article class="review-block">
                    <img href="/" src="/img/experienciaCuatro.jpg" alt="the pet's club-team" class="review-img">
                    <p class="text-review">
                        Luca es un cachorro adorable. Es el mejor amigo e mi hijo Sebas. Siempre que salimos a pasear al parque Luca es el guardían que cuida a Sebas todo el tiempo. Todo en la familia lo amamos. ¡Es un perrito increible!
                    </p>
                </article>
            </div>
        </div>

        </body>
    </main>

<!-- Include Footer-->
    <%- include('partials/footer') %>

</body>
</html>