<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
    <%- include('partials/head', {title: 'Inicio'}) %>

<body>
<!-- Include Header y banner-->
    <%- include('partials/header') %>
<!--BANNER-->
<img href="/" src="/img/img-banner-header.png" alt="sample-banner" class="sample-banner">

<main>
    <!--Categorías-->
    <div class="section-tittle"><h3>Categorías</h3></div>
        <div id="category-section" class="category-section">
            <article class="category-block">
                <div class="category-img">
                    <img href="/" src="/img/section-category/img-dog-category.png" alt="the pet's club-dog" class="img-dog-category">
                </div>
                <a href="#" class="category-tittle">Perros</a>
            </article>
            <article class="category-block">
                <div class="category-img">
                    <img href="/" src="/img/section-category/img-cat-category.png" alt="the pet's club-cat" class="img-cat-category">
                </div>
                <a href="#" class="category-tittle">Gatos</a>
            </article>
            <article class="category-block">
                <div class="category-img">
                    <img href="/" src="/img/section-category/img-macaw-birds-category.png" alt="the pet's club-bird" class="img-macaw-birds-category">
                </div>
                <a href="#" class="category-tittle">Aves</a>
            </article>
            <article class="category-block">
                <div class="category-img">
                    <img href="/" src="/img/section-category/img-fish-category.png" alt="the pet's club-fish" class="img-fish-category">
                </div>
                <a href="#" class="category-tittle">Peces</a>
            </article>
            <article class="category-block">
                <div class="category-img">
                    <img href="/" src="/img/section-category/img-rabbit-mammals-category.png" alt="the pet's club-mammals" class="img-rabbit-mammals-category">
                </div>
                <a href="#" class="category-tittle">Mamíferos</a>
            </article>
            <article class="category-block">
                <div class="category-img">
                    <img href="/" src="/img/section-category/img-chamaleon-reptile-category.png" alt="the pet's club-reptiles" class="img-chamaleon-reptile-category">
                </div>
                <a href="#" class="category-tittle">Reptiles</a>
            </article>
        </div>

    <!-- Ofertas-->

        <section class="category-section-sale">
            <div class="section-tittle"><h3>Ofertas</h3></div>
            <!-- Mostrar los productos en OFERTA dinámicamente -->
            <section class="section-article-sale">
                <% productsSale.forEach(producto => { %>
                <article class="article-img-sale">
                    <a href="/products/detail/<%= producto.id %>">
                    <img class="img-product-sale" src="img/section-sale/<%= producto.image %>" alt="img-sale-dog">
                    <article class="box-description-sale">
                        <article class="price-and-discounts">
                            <p><%= producto.name %></p>
                            <h2 class="price-product-sale">$ <%= producto.price %></h2>
                            <h3 class="discounts-product-sale"><%= producto.discounts %> %</h3>
                        </article>
                    </a>
                    </article>
                </article>
                <% }) %>
                <!-- <article class="article-img-sale">
                    <a href="/products/detail/">
                    <img class="img-product-sale" src="img/section-sale/pack-royal-canin-cat.png" alt="img-sale-cat">
                    <article class="box-description-sale">
                        <article class="price-and-discounts">
                            <h2 class="price-product-sale">$ 2500</h2>
                            <h3 class="discounts-product-sale">30%</h3>
                        </article>
                    </article>
                    </a>
                </article>
                <article class="article-img-sale">
                    <a href="/products/detail/">
                    <img class="img-product-sale" src="img/section-sale/fish-food.jpg" alt="img-sale-fish">
                    <article class="box-description-sale">
                        <article class="price-and-discounts">
                            <h2 class="price-product-sale">$ 1900</h2>
                            <h3 class="discounts-product-sale">15%</h3>
                        </article>
                        </a>
                    </article>
                </article> -->
            </section>
        </section>

    <!-- Productos-->
        <section class="category-section-products">
            <div class="section-tittle"><h3>Productos</h3></div>
            <!-- Mostrar los productos de home dinámicamente -->
            <section class="section-article-products">
                <% productsFeatured.forEach(producto => { %>
                <article class="article-img-product"> 
                    <a href="/products/detail/<%= producto.id %>">
                    <img class="img-product-product" src="img/section-products-home/<%= producto.image %>" alt="img-sale-dog">
                    <article class="box-description-product">
                        <article class="price-of-product">
                            <h2 class="price-of-product">$ <%= producto.price %></h2>
                        </article>
                    </article>
                    </a>
                </article>
                <% }) %>
                <!-- <article class="article-img-product">
                    <img class="img-product-product" src="img/section-products/toys-animals.jpg" alt="img-sale-cat">
                    <article class="box-description-product">
                        <article class="price-of-product">
                            <h2 class="price-of-product">$ 950</h2>
                        </article>
                    </article>
                </article>
                <article class="article-img-product">
                    <img class="img-product-product" src="img/section-products/animals-transporter.jpg" alt="img-sale-fish">
                    <article class="box-description-product">
                        <article class="price-of-product">
                            <h2 class="price-of-product">$ 6450</h2>
                        </article>
                    </article>
                </article> -->
            </section>
        </section>
        
    <!-- Servicios-->
        <section id="section-servicios" class="category-section-services">
            <div class="section-tittle"><h3>Servicios</h3></div>
            <section class="section-article-services">
                <article class="article-img-services">
                    <img class="img-product-sale" src="img/section-services/animal-walker.png" alt="img-sale-dog">
                    <article class="box-description-services">
                        <i></i>
                        <article class="price-and-discounts">
                            <h2 class="description-service">Paseador</h2>
                        </article>
                    </article>
                </article>
                <article class="article-img-services">
                    <img class="img-product-sale" src="img/section-services/animal-nursery.png" alt="img-sale-cat">
                    <article class="box-description-services">
                        <i></i>
                        <article class="price-and-discounts">
                            <h2 class="description-service">Guarderia</h2>
                        </article>
                    </article>
                </article>
                <article class="article-img-services">
                    <img class="img-product-sale" src="img/section-services/animal-grooming.png" alt="img-sale-fish">
                    <article class="box-description-services">
                        <i></i>
                        <article class="price-and-discounts">
                            <h2 class="description-service">Peluqueria</h2>
                        </article>
                    </article>
                </article>
            </section>
        </section>

    <!-- Nosotros-->
        <div id="section-blog" class="section-tittle"><h3>Blog</h3></div>
        <div class="container-about-us">
            <img href="/" src="/img/team.png" alt="the pet's club-team" class="team-img">
            <div class="about-us">
                <p class="text-about-us">
                    <h2 class="text-about-us">NOSOTROS</h2>
                    ¿Necesitas encontrar un veterinario de guardia? ¿Querés cortarle el pelo a tu mascota? 
                    ¿Te falta algún elemento esencial? ¿Necesitás encontrar a alguien que cuide de tu mascota o lo saque a pasear en algún momento del día? En The Pet's Club te ofrecemos no solo productos para tu mejor amigo, sino que también te ayudamos a encontrar el servicio que mejor se adapte a lo que. No importa si tenes un perro, un hamster, un gato, un conejo o una lagartija, contamos con un extenso catálogo de diseño simple y dinámico para poder ayudarte con lo que precises. Nuestro foco está en la calidad porque queremos cuidar de tu compañero.
                </p>
            </div>
        </div>

    <!-- Experiencias-->
        <div class="section-tittle"><h3>Experiencias</h3></div>
        <div id="review-section" class="review-section">
            <div class="container-fix-height">
                <article class="review-block">
                    <img href="/" src="/img/experience-01.jfif" alt="the pet's club-team" class="review-img">
                    <p class="text-review">
                        Es simplemente el texto de relleno de las imprentas y archivos de texto.
                    </p>
                </article>
            </div>
            <div class="container-fix-height">
                <article class="review-block">
                    <img href="/" src="/img/experience-02.jfif" alt="the pet's club-team" class="review-img">
                    <p class="text-review">
                        Es simplemente el texto de relleno de las imprentas y archivos de texto.
                    </p>
                </article>
            </div>
        </div>

        </body>
    </main>

<!-- Include Footer-->
    <%- include('partials/footer') %>

</body>
</html>