<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO LOGIN-->
        <div> 
            <div class="form-title-container"><h3>  Iniciar Sesión  </h3></div>

            <form action="/users/login" method="POST" enctype="multipart/form-data" class="form-container" >

            <div class="form-field">
                <input type="email" name="email" id="email" placeholder="Correo electrónico" required class="form-input">
                <% if (locals.errors && errors.email){ %>
                    <div class="error-message">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            </div>

            <div class="form-field">
                <input type="password" name="password" id="password" placeholder="Contraseña" required class="form-input">
            </div>

            <!--Mostrar errores cuando haya-->
                <% if (locals.errors){ %>
                    <div class="error-message">
                        <%= errors %> 
                    </div>
                <% } %>
            
            <div>
                <label>
                    <input type="checkbox" name="remember_user">Recordar mi usuario
                </label>
            </div>
            <div class="form-buttons-container">
                <button type="submit" class="form-button"> Loguearme </button>
            </div>
        
            </form>
            <p class="link-register">¿Aún no te has registrado? <a href="/users/register/" class="register-link"><strong>Crea una cuenta</strong></a></p><br>

        </div>
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>

