<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO LOGIN-->
        <div> 
            <div class="register-container"> 
                <div class="form-title-container">
                    <h3 class="tittleRegister">  Inicia sesión en The Pet's Club  </h3>
                </div>

            <form action="/users/login/" method="POST" class="form-container">

            <div class="form-field">
                <input type="email" 
                        name="email"   
                        id="email" 
                        placeholder="Correo electrónico"  
                        class="form-input" value="<%= locals.email ? email : '' %>">
                <% if (locals.errors && errors.email ){ %>
                    <div class="error-message">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            </div>

            <div class="form-field">
                <input type="password" 
                        name="password" 
                        id="password" 
                        placeholder="Contraseña"  
                        class="form-input">
            </div>
            
            <!--Mostrar errores cuando haya-->
            <div>
                <% if (locals.errors && errors.password){ %>
                    <div class="error-message">
                        <%= errors.password.msg %> 
                    </div>
                <% } %>
            </div>
            <div >
                <label >
                    <input type="checkbox" name="remember_user">Recordar mi usuario
                </label>
            </div>
            <div class="form-buttons-container">
                <button type="submit" class="form-button"> Ingresar </button>
            </div>
        
            </form>
            <p class="link-register">¿Aún no te has registrado? <a href="/users/register/" class="register-link"><strong>Crea una cuenta</strong></a></p><br>

        </div>
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>

