<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO SIGN UP - REGISTER-->
        <div class="register-container"> 
            <div class="form-title-container">
                <h3 class="tittleRegister">  Registrate en The Pet's Club  </h3>
            </div>
    
            
           
            
            <!-- Fin de mostrar los errores -->
            <form action="/users/register/" method="POST" enctype="multipart/form-data" class="sing-up-form-container form-container">

                <!-- Errores de db -->
            <% if(typeof(errors) != 'undefined'){%>
                <div class="warning-block">
                <strong class="warning-title">¡¡ ADVERTENCIA !!</strong>
                <ul class="errors">
                    <% errors.forEach(error => { %>
                        <li><i class='fa-solid fa-triangle-exclamation' style='color: #eb0505;'></i>
                            <%= error.msg%></li>
                    <%});%>
                </ul>
                </div>
            <%}%>
                <!-- Mostrar alertas Validación Frot End -->
            <div class="warning-block hide">
                <strong class="warning-title">¡¡ ADVERTENCIA !!</strong>
                <ul class="errors hide"><ul></ul>
            </div>

                    <p class="register-form-field">
                        <label>
                        <!-- <h3 class="nameImput">Nombre:</h3> -->
                        <input type="text" 
                               name="firstName" 
                               id="firstName" 
                               placeholder="Nombre"  
                               class="form-input-register" 
                               value="<%= typeof old != 'undefined' ? old.firstName : '' %>" >
                               <span></span>
                               <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                            </label>
                    </p>
                    <p class="register-form-field">
                        <label>
                        <!-- <h3>Apellido:</h3> -->
                        <input type="text"
                               name="lastName"
                               id="lastName" 
                               placeholder="Apellido"  
                               class="form-input-register"
                               value="<%= typeof old != 'undefined' ? old.lastName : '' %>">
                               <span></span>
                            </label>
                    </p>
                <p class="register-form-field">
                    <label>
                        <!-- <h3>Nombre de usuario:</h3> -->
                    <input type="text"
                           name="nameUser" 
                           id="nameUser" placeholder="Nombre de usuario" 
                           class="form-input-register"
                           value="<%= typeof old != 'undefined' ? old.nameUser : '' %>">
                           <span></span>
                        </label>
                </p>
                <p class="register-form-field">
                <label>
                   <!--  <h3>Email:</h3> -->
                <input type="email" 
                        name="email" 
                        id="email" placeholder="Correo electrónico" 
                        class="form-input-register" 
                        value="<%= typeof old != 'undefined' ? old.email : '' %>">
                        <span></span>
                    </label>
                    </p>
                <p class="register-form-field">
                <label>
                <!-- <h3>Contraseña:</h3> -->
                <input type="password" 
                        name="password" 
                        placeholder="Ingresa una contraseña"  
                        class="form-input-register">
                        <span></span>
                </label>
                </p>
                <p class="register-form-field">
                <label>
                <!-- <h3>Confirme contraseña:</h3> -->
                <input type="password" 
                        name="passwordConfirmed" 
                        placeholder="Confirma la contraseña"  
                        class="form-input-register">
                        <span></span>
                </label>
                </p>
                <p class="register-form-field">
                <label class="avatarStyle">
                <!-- <h3>Foto de perfil:</h3> -->
                    <label for="avatarRegister" class="form-label-avatar">Imagen de perfil: </label> 
                    <input type="file" id="avatarRegister" 
                            name="avatar" >
                    <span></span>
                </label>
                </p>
                <p class="input-administrator-user">
                        <label class="label-user" for="administrator-user" id="administrator-user">Usuario <input type="radio" name="role" value="2" checked></label>
                        <label class="label-administrator" for="administrator-user">Administrador <input type="radio" name="role" value="1"></label></label>
                </p>
                <p class="form-field">
                    Al crear una cuenta en <strong>thepetsclubs.com</strong> acepta los 
                    <a href="/" class="register-link"><strong>Términos y Condiciones</strong></a> y nuestro 
                    <a href="/" class="register-link"><strong>Aviso de privacidad</strong> </a>
                </p>
                 
                <br>
                <!--Botón de formulario -->
                <p class="register-button-container">
                <button type="Crear cuenta" class="form-button"> Crear cuenta </button>
                </p>
                <br>
                <p>¿Ya tienes una cuenta? <a href="/users/login" class="register-link"><strong>Iniciar Sesión</strong></a></p><br>
            </form>
        </div>
    <!-- Include Front End Validation -->
    <script src="/js/validationRegister.js"></script>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
