<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO SIGN UP - REGISTER-->
        <div class="register-container"> 
            <div class="form-title-container"><h3>  Registrate en The Pet's Club  </h3></div>
            <!-- Errores del lado del Front -->
            <div>
                <ul id="errores"></ul>
            </div>
            <!-- Errores de db -->
            <% if(typeof(errors) != 'undefined'){%>
                <ul class="alert alert-danger">
                    <% errors.forEach(error => { %>
                        <li><%= error.msg%></li>
                    <%});%>
                </ul>
            <%}%>
            <!-- Fin de mostrar los errores -->
            <form action="/users/register/" method="POST" enctype="multipart/form-data" class="sing-up-form-container">
                    <p class="register-form-field">
                        <input type="text" 
                               name="firstName" 
                               id="name" 
                               placeholder="Nombre"  
                               class="form-input-register" 
                               value="<%= typeof old != 'undefined' ? old.firstName : '' %>" >
                               <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                    </p>
                    <p class="register-form-field">
                        <input type="text"
                               name="lastName"
                               id="name" 
                               placeholder="Apellido"  
                               class="form-input-register"
                               value="<%= typeof old != 'undefined' ? old.lastName : '' %>">
                    </p>
                <p class="register-form-field">
                    <input type="text"
                           name="nameUser" 
                           id="name" placeholder="Nombre de usuario" 
                           class="form-input-register"
                           value="<%= typeof old != 'undefined' ? old.nameUser : '' %>">
                </p>
                <p class="register-form-field">
                <input type="email" 
                        name="email" 
                        id="email" placeholder="Correo electrónico" 
                        class="form-input-register" 
                        value="<%= typeof old != 'undefined' ? old.email : '' %>">
                </p>
                <p class="register-form-field">
                <input type="password" 
                        name="password" 
                        placeholder="Ingresa una contraseña"  
                        class="form-input-register">
                </p>
                <p class="register-form-field">
                <input type="password" 
                        name="passwordConfirmed" 
                        placeholder="Confirma la contraseña"  
                        class="form-input-register">
                </p>
                <p class="register-form-field">
                    <label for="avatarRegister" class="form-label-avatar">Imagen de perfil: </label> 
                    <input type="file" id="avatarRegister" 
                            name="avatar" >
                </p>
                <p class="input-administrator-user">
                        <label class="label-user" for="administrator-user" id="administrator-user">Usuario <input type="radio" name="role" value="2" checked></label>
                        <label class="label-administrator" for="administrator-user">Administrador <input type="radio" name="role" value="1"></label></label>
                </p>
                <p class="form-field">
                    Al crear una cuenta en <strong>thepetsclubs.com</strong> acepta los 
                    <a href="/" class="register-link"><strong>Términos y Condiciones</strong></a> y nuestro 
                    <a href="/" class="register-link"><strong>Aviso de privacidad</strong> </a>
                </p>
                <br>
                <!--Botón de formulario -->
                <p class="register-button-container">
                <button type="Crear cuenta" class="form-button"> Crear cuenta </button>
                </p>
-
            </form>
            <p>¿Ya tienes una cuenta? <a href="/users/login" class="register-link"><strong>Iniciar Sesión</strong></a></p><br>
        </div>
    <!-- Include Front End Validation -->
    <script src="/js/registerValidation.js"></script>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
