<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- FORMULARIO SIGN UP - REGISTER-->
        <div class="register-container"> 
            <div class="form-title-container"><h3>  Editar el usuario  </h3></div>
            <!-- Errores de db --> 
            <% if(typeof(errors) != 'undefined'){%>
                <ul class="alert alert-danger">
                    <% errors.forEach(error => { %>
                        <li><%= error.msg%></li>
                    <%});%>
                </ul>
            <%}%>
            <!-- Fin de mostrar los errores -->
            <form action="/users/edit/<%=usuarios.id%>" method="POST" enctype="multipart/form-data" class="sing-up-form-container">
                <p class="register-form-field">
                    <input type="text" 
                            name="firstName" 
                            id="name" 
                            placeholder="Nombre"  
                            class="" 
                            value="<%= typeof old != 'undefined' ? old.firstName : '' %>" >
                </p>
                <p class="register-form-field">
                    <input type="text"
                            name="lastName"
                            id="name" 
                            placeholder="Apellido"  
                            class=""
                            value="<%= typeof old != 'undefined' ? old.lastName : '' %>">
                </p>

                <p class="register-form-field">
                    <input type="text"
                            name="nameUser"
                            id="name" placeholder="Nombre de usuario" 
                            class=""
                            value="<%= typeof old != 'undefined' ? old.nameUser : '' %>">
                </p>
                <!-- Para modificar la contraseña, hay que verificar la anterior contraseña (PENDIENTE) 
                    <p class="register-form-field">
                    <input type="password" 
                            name="password" 
                            placeholder="Nueva contraseña"  
                            class="">
                </p>
                <p class="register-form-field">
                    <input type="password" 
                            name="passwordConfirmed" 
                            placeholder="Confirma la contraseña"  
                            class="">
                </p> -->

                <p class="register-form-field">
                    <label for="avatarRegister" class="form-label-avatar">Imagen de perfil: </label> 
                    <input type="file" id="avatarRegister" name="avatar">
                </p>
    
                <!--Botón de formulario -->
                <p class="register-button-container">
                    <button type="submit" class="form-button"> Editar usuario </button>
                </p>
            </form>
        </div>
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>
