<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Perfil de usuario'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- PERFIL DE USUARIO - solo se debe mostrar para los usuarios logueados -->
        <section class="section-profile">
        <div class="profile-user-container"> 
            <div class="register-container-profile"> 
                <div class="form-title-container">
                    <h3 class="tittleRegister-profile">  Hola <%= usuarios.first_name %> <%= usuarios.last_name %>! </h3>
                </div>
            <!-- <div class="form-title-container"><h3>  Hola <%= usuarios.first_name %> <%= usuarios.last_name %>! </h3></div> -->

            <img class="img-profile" src="/img/avatars/<%= usuarios.avatar%> ">

            <p class="register-button-container">
                <a href="/users/edit"><button type="Editar" class="form-button"> Editar usuario </button></a>
            </p>
            <p class="register-button-container">
                <a href="/users/logout"><button type="Editar" class="form-button"> Cerrar sesión </button></a>
            </p>
        </div>
        </div>
        
        </section>
        
        <!-- Include Footer-->
    <%- include('../partials/footer') %>
    </body>
    
</body>

</html>