<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- PERFIL DE USUARIO - solo se debe mostrar para los usuarios logueados -->
        <div> 
            <div class="form-title-container"><h3>  Hola <%= user.firstName %> <%= user.lastName %>! </h3></div>

            <img src="/img/avatars/<%= user.avatar %> ">
        
            

        </div>
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>