<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Listado de usuarios'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <!-- Listado de usuarios -->
        <h1>Listado de usuarios</h1>
        <ul>
            Usuarios: 
            <% for (let i = 0; i < usuarios.length; i++) { %> 
                    <li type="circle">
                        <a href="/list/<%= usuarios[i].id %>">
                            <%= usuarios[i].user_name %>
                            <%= usuarios[i].first_name %>
                            <%= usuarios[i].last_name %>
                            <!-- Pendiente queda ver si funciona y hacer un condicional para mostrar el id de rol y depende que numero sea, mostrar si es usuario o administrador -->
                        </a>
                    </li>
            <% } %> 
        </ul>
        <form action="/users/delete/<%=usuarios.id%>" method="POST" enctype="multipart/form-data" class="sing-up-form-container">
            <p class="register-button-container">
                <a href="/users/list/"><button type="submit" class="form-button"> Eliminar usuario </button></a>
            </p>
        </form>
    </body>


    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>