<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head', {title: 'Perfil de usuario'}) %>

<body>
    <!-- Include Header y banner-->
    <%- include('../partials/header') %>

    <body>
        <div class="gap"></div>
        <!-- PERFIL DE USUARIO - solo se debe mostrar para los usuarios logueados -->
        <div> 
            <div class="form-title-container"><h3>  Hola <%= usuarios.first_name %> <%= usuarios.last_name %>! </h3></div>

            <img src="/img/avatars/<%= usuarios.avatar%> ">

        </div>
        
            <p class="register-button-container">
                <a href="/users/edit"><button type="Editar" class="form-button"> Editar usuario </button></a>
            </p>
        
    </body>

    <!-- Include Footer-->
    <%- include('../partials/footer') %>
    
</body>

</html>